.list-sw {
	&__sort {
	    display: flex;
    	justify-content: space-between;
    	padding: 0 auto;
    	margin: 0 25px;
	}

	&__elements {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		&--item {
			list-style: none;
		}
	}
}